*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  
}


video{
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);

}

main{
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 400px;
}

h1{
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 40px;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0);
    
    
}

form{
    width: 300px;
    height: auto;
    margin-left: 50px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
}
 
.logo{
    width: 100%;
}

form label[for="email"],label[for="senha"]{
    display: block;
    margin-bottom: 5px;
}

form input[type="email"], input[type="password"] {
    border: 1px solid #8b8b8bd2;
    background-color:#ffffff;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
}



button{
    padding: 5px;
    text-align: center;
    border: 1px solid #337ab7;
    background-color:#337ab7;;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    margin-top:15px;


}
button:hover{
    background-color: #194e7e;
    color: white;
}

.github{
    margin-top: 15px;
    width: 50px;
    height: auto;
    
}

.google{
    margin-top: 15px;
    width: 50px;
    height: auto;
    
}

.linkedin{
    margin-top: 15px;
    width: 50px;
    height: auto;
    
}
